/* Estilos específicos para la página de contacto */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-primario);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los labels */
form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--color-primario);
}

/* Estilo para los inputs */
form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--color-enlace-hover);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--color-texto);
  background-color: #fff;
  transition: var(--transicion);
}

form input:focus,
form select:focus,
form textarea:focus {
  border-color: var(--color-enlace);
  outline: none;
  box-shadow: 0 0 5px var(--color-enlace-hover);
}

/* Botón de envío */
form button {
  display: inline-block;
  background-color: var(--color-enlace);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: var(--transicion);
}

form button:hover {
  background-color: var(--color-enlace-hover);
}

/* Mensaje de texto */
form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form button[type="submit"] {
  width: 50%;
  font-weight: bold;
}

.contact-form [required]:valid {
  border: thin solid #4caf50;
}

.contact-form [required]:invalid {
  border: thin solid #f44336;
}

/*Mensaje de error */
.contact-error {
  margin-top: -0.8rem;
  font-size: 80%;
  background-color: red;
  color: white;
  transition: all 800ms ease;
  font-weight: bold;
}

.contact-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}
